.root {
    -background-color: #373737;
    -background-dark-color: #2d2d2d;
    -background-light-color: #464646;
    -background-very-light-color: #bdbdbd;

    -accent-color: #ff981f;

    -text-color: white;
    -text-muted-color: #9ba1a5;
    -text-muted-dark-color: #6c757d;

    -good-color: #69a55a;
    -good-secondary-color: #4c7b40;
    -good-overlay-color:#143d09;

    -bad-color: #b44545;
    -bad-secondary-color: #9f2f2f;
    -bad-overlay-color: #510b0b;

    -alert-color: #ff981f;
    -alert-secondary-color: #c9781a;
    -alert-overlay-color: #915208;
}

.main-background-panel {
    -fx-background-color: -background-dark-color;
}

.invis-scrollpane {
    -fx-background-color: transparent;
}

.invis-scrollpane > .viewport {
    -fx-background-color: transparent;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.wiki-category-progress-bar > .bar {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.wiki-category-progress-bar-done > .bar {
    -fx-background-color: -good-color;
}

.wiki-category-progress-bar-progress > .bar {
    -fx-background-color: -alert-color;
}

.wiki-category-progress-bar-no-progress > .bar {
    -fx-background-color: -bad-color;
}

.wiki-category-progress-bar > .track {
    -fx-background-color: -background-dark-color;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.nice-textfield {
    -fx-background-color: -background-dark-color;
    -fx-border-color: black;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 4 4 4 4;
    -fx-background-radius: 4 4 4 8;
    -fx-text-fill: -text-muted-color;
}

.nice-textfield:hover, .nice-textfield:focus {
    -fx-background-color: -background-light-color;
    -fx-text-fill: white;
}

.searchbox {
    -fx-background-color: -background-color;
    -fx-border-color: black;
    -fx-border-width: 1 0 1 1;
    -fx-border-radius: 8 0 0 8;
    -fx-background-radius: 8 0 0 8;
    -fx-text-fill: -text-muted-color;
}

.searchbox:hover, .searchbox:focus {
    -fx-background-color: -background-dark-color;
    -fx-text-fill: white;
}